* {
    margin : 0;
    padding : 0;
}
.wrapper {
    display:flex;
   height:auto;
    width:100%;
    align-items: baseline;
}
nav{
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-height:790px;
    
  
    background:black;
}
.navigation{
    width:350px;
    margin:0;

}
nav a{
    margin:0 auto;
   height:32px;
   width:auto;
   text-align:center;
    color:white;
    text-decoration: none;
    padding:5px

}
nav a:hover{
    background:grey;
   width:90%;
    margin:0 auto;
    

}
.content{
margin:auto
}
.content h1 {
    margin: auto;
    text-align:center;
}
.content h4 {
    margin-top:32px;
    margin-bottom:32px;
}
.item{
   
    margin:32px;
    text-align:center;
}
.generateur-miniature{
    display:flex;
    width:100%;
    margin:auto;
    justify-content: center;
    margin-bottom:32px;
}

.miniature{
    width:100px;
    height: auto;
}